header{
    
    width: 80%;
    margin:0 auto;
    height: 285px;
    background:blue;
    bottom: position;
    border-bottom-color: goldenrod;
    border: solid;
    background-repeat: no-repeat;
    border-radius: 10px 20px 20px 40px
    
}

header img{
   
    margin: 320px;
    margin: 5px 340px 0px 220px;
    width:50%;
    height:450px;
    border: solid;
    border-bottom-color: crimson;
    float:right;
   
}

logo > img{
    
    margin: 198px;
}

logo1{
    
    float:right;
}

body{
    background-size: auto;
    background:url(http://i.imgur.com/VWIBA4p.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: inherit;
    background-color:darkgray; 
}

nav{
    border:none;
    margin: 1px 10px 1px 450px;
    text-align: center;    
    width:430px;
    background-color:red;
    border-radius: 110px 1110px 1150px 110px;
        
}

/*SIDE LINK TAGS BEGIN HERE*/

section > aside > div > h4{
    background-color:blue;
}

div > a{
    background-color:red;
}









